* {
    box-sizing: border-box;
    --text-colour: #303030;
    --nav-text-colour: #E9E9E9;
    /* --background-colour: #DDA343; */
    --background-colour: #4E9fC9;
    /* --background-colour: #A9296E; */
    /* --background-colour: #ab2346; */
    /* --background-colour: #7a4483; */

    --button-colour: #ffd43b;
    --button-hover-background: #fab005;
    /* --button-colour: #00b295; */
    /* --button-hover-background: #00a085; */
}
html, body {
    background-color: #F5F5F5;
    color: var(--text-colour);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: left;
    align-items: center;
}
#nav-logo {
    z-index: 10;
    margin-right: 20px;
    display: inline-block;
}
#nav-logo > svg {
    height: 40px;
    width: fit-content;
    fill: var(--nav-text-colour);
}
.nav-elements {
    display: contents;
}
.nav-elements > * {
    position: relative;
    padding: 5px 10px;
    color: var(--nav-text-colour);
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: 100ms;
    z-index: 10;
}
.nav-elements > *:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
/* [aria-current] { */
    /* border-bottom: solid thick var(--text-colour); */
/* } */
.underline {
    display: none;
    transition: 100ms;
}
.nav-elements > *:hover .underline {
    display: block;
    border: solid 3px var(--nav-text-colour);
    background-color: var(--nav-text-colour);
    border-radius: 10px;
    position: absolute;
    bottom: -15px;
    left: 0px;
    right: 0px;
}


/* MOBILE MENU */
.nav-open-button {
    display: none;
}

@media only screen and (max-width: 800px) {
    .nav-elements {
        display: none;
    }
    .nav-open-button > #burger-close-svg {
        display: none;
    }
    .nav-open-button > svg {
        height: 25px;
        width: auto;
        vertical-align: middle;
        fill: var(--nav-text-colour);
        cursor: pointer;
    }
    .nav-open-button {
        display: block;
        margin-left: auto;
        padding: 10px;
        border-radius: 17px;
        background-color: var(--text-colour);
        transition: 100ms;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .nav-open-button:has(*:focus-visible) {
        outline: -webkit-focus-ring-color auto 5px;
    }
    .nav-open-button input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .nav-open-button:has(*:checked) > #burger-open-svg {
        display: none;
    }
    .nav-open-button:has(*:checked) > #burger-close-svg {
        display: block;
    }

    .nav-open-button:has(*:checked) {
        z-index: 11;
    }
    .nav-open-button:has(*:checked) ~ .nav-elements {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0px;
        top: 0px;
        padding: 80px 10px 10px 10px;
        gap: 10px;
        width: 400px;
        max-width: 100%;
        bottom: 0px;
        background-color: var(--text-colour);
        box-shadow: rgb(0 0 0 / 20%) 0px 0px 0px 1000px;
        z-index: 10;
    }
    .nav-open-button:has(*:checked) ~ .nav-elements > *:hover .underline {
        display: none;
    }
    .nav-elements > *:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

@media only screen and (max-width: 500px) {
    .nav-open-button:has(*:checked) ~ .nav-elements {
        width: 100%;
    }
}



.top {
    background-color: var(--background-colour);
    position: relative;
    overflow: hidden;
}
header {
    width: 100%;
    height: 350px;
    position: relative;
}
header > div {
    position: absolute;
    width: max-content;
    max-width: 100%;
    padding: 0px 40px;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    text-transform: uppercase;

    color: var(--nav-text-colour);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
header > div > h1::before { content: "<"; text-transform: lowercase;}
header > div > h1::after { content: "/>"; text-transform: lowercase;}
header > div > span {
    font-size: 1.2em;
}
h1 {
    margin-top: 0;
    font-size: 2.5em;
    font-weight: 800;
}


.inset-image {
    width: 400px;
    position: absolute;
    right: -50px;
    top: 50%;
    transform: rotate(20deg) translateY(-50%);
    filter: opacity(0.15);
    z-index: 0;
    user-select: none;
}
.pacman {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 40px;
    bottom: 40px;
    z-index: 0;
    user-select: none;
}
.ghost {
    transition: linear 100ms;
    position: absolute;
    width: 40px;
    filter: opacity(0.15);
    z-index: 0;
    user-select: none;
}
@media only screen and (max-width: 600px) {
    .pacman {
        opacity: 0;
    }
}


.main-content {
    max-width: 80em;
    width: 90%;
    margin: auto;
}

h2 {
    width: fit-content;
    margin: 40px 0 20px 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 800;
}
.right-image-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.right-image-section > div {
    flex: 10 1 30em;
}
.right-image-section > img {
    flex: 1 1 25em;
    min-width: 0px;
    max-width: 450px;
    height: auto;
    margin: auto;
}


.join-button {
    background-color: var(--button-colour);
    padding: 15px 20px;
    margin: 25px auto;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: var(--text-colour) 1px solid;
    box-shadow: var(--text-colour) 3px 3px 0px 0px;
    cursor: pointer;
    transition: 50ms;
    text-align: center;
    user-select: none;
    max-width: 300px;
    font-weight: 800;
}
.join-button:hover {
    background-color: var(--button-hover-background);
}
.join-button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    padding: 10px;
}
.event {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    width: 300px;
    transition: 50ms;
    /* border: #303030 thick outset; */
}
.event:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 7px 3px;
    transform: translateY(-5px);
}
.event:active {
    box-shadow: inset rgba(0, 0, 0, 0.15) 0px 5px 7px 3px;
    
    transform: translateY(2px);
}
.event img {
    max-height: 200px;
    width: 100%;    
    object-fit: cover;
}
.event-details {
    padding: 5px;
}
.event-details h3 {
    margin: 5px 0;
}
.event .event-info {
    display: grid;
    grid-template-columns: auto 1fr;
}
.event .event-info :nth-child(2n) {
    text-align: right;
}